/*general rules*/
body {
	background: #fffeec;
	color: rgb(0, 0, 0);
	line-height: 1.8;
	text-align: center;
    text-decoration: none;
	font-family: 'Lora', serif;
	font-size: 16px;
	font-weight: 400
}

h1, h2 {
	font-family: 'Arbutus Slab', serif;
}

/*page title*/ 
h1 {
	color: #442727;
	font-size: 40px;
	font-weight: bold;
}

/*paragraph title*/
h2 {
	font-size: 22px;
	font-weight: lighter;
	color: #581c0c;
}

/*interactive button*/
a {
	text-decoration: none;
	color: #f37121;
	font-weight: bold;
	font-family: 'Arbutus Slab', serif;
}

a:hover {
	color: #810000;
}

/*video in career page*/
video {
	object-fit: contain;
}

ul {
	margin-bottom: 26px;
	margin-top: 26px;
}

/*custom design*/
.container {
	width: 700px;
	margin: 40px auto;

}
@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}
@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

/*design card white in both pages*/
.card-white {
	background: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

/*design profile image*/
.img-circle {
	border-radius: 50%;
}

/*design graduation image*/
.img-square {
	border-radius: 4px;
}

/*design orange button*/
.btn-orange {
	background-color: #f69314;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
} 

.btn-orange:hover {
	background-color: #442727;
	color: white;
} 

/*style list*/
.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

/*design social media button*/
.list-inline i {
	font-size: 50px;
	color: rgb(230,230,230);
}

.list-inline i:hover {
	font-size: 50px;
	color: #f69314;
}

/*modify bullet points on the left*/
.list-left {
	text-align: left;
}

/*design CV button*/
.btn-cv {
	font-size: 50px;
	color: #f69314;
}

.btn-cv:hover {
	font-size: 50px;
	color: #442727;
}

/*design adjustment using id */
#introduction p{
	margin-bottom: 40px;
}

/*design video*/
.video {
	width: 250px;
	height: auto;
	text-align: center;
}
